* {
	box-sizing: border-box;
}

body {
	background-color: #404040;	
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.wrapper {
	background-color: #404040;
}

.main-content {
	width: 800px;
	margin: 30px auto;

}

header {
	height: 100px;
	background-color: #6DBDD6;
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px 10px 0 20px;

}

.appointment-day {
	background-color: #F5F3EE;
	height: 250px;
	border-bottom: 8px solid #404040;
	padding: 10px 20px;
	position: relative;

}

.current-date {
	color: rgba(64,64,64,.7);
	font-size: 16px;
}

.add-button {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 150px;
	right: 50px;
	border-radius: 50%;
	background-color: #6dbdd6;
	color: white;
	font-size: 20px;
	text-align: center;
	-webkit-box-shadow: 4px 4px 4px rgba(64,64,64,.3);
	box-shadow: 4px 4px 4px rgba(64,64,64,.3);
	border: none;
}

.new-appointment {
	width: 400px;
	height: 100px;
	position: absolute;
	top: 50px;
	left: 100px;
	border: 1px solid rgba(64,64,64,.5);
	border-radius: 10px;
	display: none;

}

